.set_info
    width: 87vw
    left: 0
    .firstForm
        ul
            li
                &.gui
                    width: 50% !important
                    label 
                        width 20% !important
                    input 
                        width 70% !important
                        &.guiNum
                            width: 20% !important
                        &.guiName
                            width: 50% !important
                    button 
                        padding: 0 1vh
                        height: 3.5vh;
                        border: 0.1vh solid #d2d2d2;
                        background: none;
                        line-height: 3.5vh;
                        text-align: center;
                        border-radius: 0.5vh;
                        cursor: pointer;
                        float left    
                &.explain
                    width: 60%
                    label 
                        width: 16.5%
                    input 
                        width: 80%
            .save
                margin 1vh !important
                width: auto !important
                padding: 0 1vh !important                           
    .main
        width: 88vw
        height 52vh
        margin-top: .5vh
        .fl
            width: 50%
            margin-left: .5%
            overflow-x: auto
            border-right: 1px solid #ebeef5;
            border-left: 1px solid #ebeef5;
            .order_table
                width: 1000px
                height 47vh
                overflow hidden
                overflow-x: auto
                button 
                    padding:  .5vh
                    display: block
                    float left
                    margin: .4vh .2vh
                    border: 1px solid #d2d2d2
                    &.btn
                        border: 1px solid #409EFF
                        color: #409EFF

        .fr
            width: 47%
            margin-right: 2%
            height 49vh
            border-radius: 2px
            overflow hidden
            overflow-x auto
            border: 1px solid #ebeef5;
            ul
                min-width 100px
                width: 100%
                height: 49vh
                overflow hidden
                overflow-x auto
                display: flex
                li
                    width: 180px
                    margin: 0
                    float left
                    height auto
                    p
                        height 3.5vh
                        line-height: 3.5vh
                        text-align: center
                        font-size: 1.5vh
                        font-weight: bold
                        border-right: 1px solid #ebeef5;
                         
                
.gui_btn
    border .1vh solid #409EFF !important
    font-weight bold
    color #409EFF
.btn-box
    min-width 800px

    