
.set_info
    width: 87vw
    left: 0
    .firstForm
        ul
            li
                &.gui
                    width: 50% !important
                    label 
                        width 20% !important
                    input 
                        width 70% !important
                        &.guiNum
                            width: 20% !important
                        &.guiName
                            width: 50% !important
                    button 
                        padding: 0 1vh
                        height: 3.5vh;
                        border: 0.1vh solid #d2d2d2;
                        background: none;
                        line-height: 3.5vh;
                        text-align: center;
                        border-radius: 0.5vh;
                        cursor: pointer;
                        float left    
                &.psn
                    width: 100% !important
                    label 
                        width: 10% !important
                    input 
                        width: 35.4% !important
                &.explain
                    width: 52%
                    label 
                        width: 16.5%
                    input 
                        width: 80%
                    .el-textarea
                        width: 80%
                        height 3.5vh

            .save
                margin 1vh !important
                width: auto !important
                padding: 0 1vh !important                           
    .main
        width: 88vw
        height 46vh
        margin-top: .5vh
        .fl
            width: 50%
            margin-left: .5%
            overflow-x: auto
            border-right: 1px solid #ebeef5;
            border-left: 1px solid #ebeef5;
            .order_table
                width: 1200px
                height 45vh
                overflow hidden
                overflow-x: auto
                button 
                    padding:  .5vh
                    display: block
                    float left
                    margin: .2vh .6vh
                    border: 1px solid #d2d2d2
                    &.btn
                        border: 1px solid #409EFF
                        color: #409EFF
                .el-checkbox
                    font-size: 1.2vh
                    

        .fr
            width: 47%
            margin-right: 2%
            height 47vh
            border-radius: 2px
            overflow hidden
            overflow-x auto
            border: 1px solid #ebeef5;
            .titleColor
                min-width 100px
                width: 100%
                height: 8vh
                // overflow hidden
                display: flex
                li
                    
                    height 8vh
                    p
                        line-height: 4vh
                        width: 220px
                        text-align: center
                        border: 1px solid #ebeef5;
                    span 
                        display: block
                        float left
                        width: 110px
                        text-align: center
                        line-height: 4vh
                        height 4vh
                        font-size: 1.2vh
                        border: 1px solid #ebeef5;
                        
            .mainColor
                min-width 100px
                width: 100%
                // overflow hidden
                display: flex
                li
                    p
                        width: 220px
                        
                        span 
                            display: block
                            float left
                            width: 110px    
                            text-align: center
                            line-height: 3.5vh
                            font-size: 1.4vh
                            border: 1px solid #ebeef5;
                            height:-moz-calc(3.5vh+1px)
                            height:-webkit-calc(3.5vh+1px)
                            height: calc(3.5vh+1px)
                            padding-bottom .2px
                            &.btn
                                color:#409EFF
                                cursor pointer 

.gui_btn
    border .1vh solid #409EFF !important
    font-weight bold
    color #409EFF
.btn-box
    min-width 800px

    