.set_box 
    .menu_box
        width 12%
    .set_info
        width 88%
        overflow hidden
        .firstForm
            ul
                li
                    &.gui
                        input 
                            width: 20%
                            &.gui_num
                                width: 6%
                .save
                    padding: 0 2vh
                    height: 3.5vh;
                    border: 0.1vh solid #d2d2d2;
                    background: none;
                    line-height: 3.5vh;
                    text-align: center;
                    border-radius: 0.5vh;
                    cursor: pointer; 
                    margin 1vh  !important   
                .btn
                    border: 0.1vh solid #409eff !important
                    font-weight: bold;
                    color: #409eff;                             