.set_box
    height 80vh    
    .set_info
        width: 87vw
        left: 0
        .firstForm
            ul
                min-width 100px
                .save
                    margin 1vh .5vh !important
                    width: auto !important
                    padding: 0 1vh !important  
                    border .1vh solid #409EFF !important
                    font-weight bold
                    color #409EFF   
                &.custom
                    li
                        width: 30%   
                        label 
                            width: 14%
                        input,.el-select
                            width: 38% 
                        span 
                            display: block
                            float left
                            width 10%
                            text-align: center
.order_table
    width 86.5vw
    margin-top 2vh
    height 52vh
    overflow hidden
    .el-button
        padding .5vh 1vh
        margin-top 0.4vh
        border 0.1vh solid #d2d2d2
        &.btn
            border 0.1vh solid #409eff
            color #409eff
                            