.btn-box
  min-width: 1200px

// 查询内容
.queryInfo
  padding: 0 2vh
  height: 3.5vh
  line-height: 3.5vh
  border: 0.1vh solid #d9d9d9
  background: #ffffff
  margin: 0.3vh 0.3vh
  font-size: 1.4vh
  display: block
  float: left
  cursor: pointer
  border-radius: 4px

// 日期
.container>>> .el-date-editor.el-input
  width: 70%
  font-size: 1.4vh
.container>>> .el-input__icon
  height: auto
  line-height: 3.5vh
.container>>>.el-date-editor
  float: left
  width: 70%
.info_form
  width: 100%
  ul
    width: 100%
  li
    height: 3.5vh
    margin: 1vh 0
    float: left
    width: 20%
    label
      float: left
      line-height: 3.5vh
      width: 30%
      text-align: center
    input
      height: 3.5vh
      line-height: 3.5vh
      border: 0.1vh solid #d2d2d2
      outline: none
      padding-left: 1vh
      width: 70%
      float: left
      overflow: hidden
    button
      width: 50px
      height: 3.5vh
      border: 0.1vh solid #d2d2d2
      background: none
      margin-left: 5px
      line-height: 3.5vh
      text-align: center
      border-radius: 5px
      cursor: pointer
  li.date
    width: 30%
  .formQuery
    width: 30%
  .save
    padding: 0 2vh
    height: 3.5vh
    line-height: 3.5vh
    border: 0.1vh solid #d9d9d9
    background: #ffffff
    margin-top: 1.3vh
    margin-left: 1.5vh
    font-size: 1.2vh
    display: block
    float: left
    text-align: center
    text-decoration: underline
    cursor: pointer
    border-radius: 4px
    &.button_btn
      border: 0.1vh solid #409EFF
      font-weight: bold
      color: #409EFF

    padding: 0 2vh
    height: 3.5vh
    line-height: 3.5vh
    border: 0.1vh solid #d9d9d9
    background: #ffffff
    margin-top: 1.3vh
    margin-left: 1.5vh
    font-size: 1.2vh
    display: block
    float: left
    text-align: center
    text-decoration: underline
    cursor: pointer
    border-radius: 4px
    &.button_btn
      border: 0.1vh solid #409EFF
      font-weight: bold
      color: #409EFF