// 顶部按钮导航
.btn-box
  min-width 1200px

// 查询内容
.queryInfo
  padding: 0 2vh
  height: 3.5vh
  line-height: 3.5vh
  border: 0.1vh solid #d9d9d9
  background: #ffffff
  margin: 0.3vh 0.3vh
  font-size: 1.4vh
  display: block
  float: left
  cursor: pointer
  border-radius: 4px

.container>>> .el-select
  width: 70%
  display: inline-block
  position: relative

// 弹出框
.container>>>.el-dialog
  width: 390px 
  height: 460px
  overflow-y: auto
  .el-dialog__headerbtn
    border none
  .el-input
    width 75%
    float left
  button
    height 3.5vh 
    line-height: 3.5vh
    width 60px
    background #ffffff
    margin-left 10px 
    border 1px solid #409EFF
    color #409EFF  
    padding: 0
.container>>>.tableDialog 
    .el-dialog
        width: 900px !important
        height: 420px
        overflow: hidden
    .dialogTable
        width: auto
        height 300px
        overflow: auto
        display: block
        position relative

// 主体内容
.menu_box
  width: 13%
.set_info
  width: 87%
.info_form
  width: 99%
  border: 1px solid #f1f1f1
  box-sizing: border-box
  padding: 5px
  margin: 5px
  ul
    width: 100%
  li
    height: 3.5vh
    margin: 1vh 0
    float: left
    width: 20%
    label
      float: left
      line-height: 3.5vh
      width: 30%
      text-align: center
    input
      height: 3.5vh
      line-height: 3.5vh
      border: 0.1vh solid #d2d2d2
      outline: none
      padding-left: 1vh
      width: 70%
      float: left
      overflow: hidden
    button
      width: 50px
      height: 3.5vh
      border: 0.1vh solid #d2d2d2
      background: none
      margin-left: 5px
      line-height: 3.5vh
      text-align: center
      border-radius: 5px
      cursor: pointer
  // 客户款号li
  li.menuLi
    width: 35%
    label
      width: 15%
    input
      width: 40%
    .first
      width: 25%
      margin-right: 5px
.save
    padding: 0 2vh
    height: 3.5vh
    line-height: 3.5vh
    border: 0.1vh solid #d9d9d9
    background: #ffffff
    margin-top: 1.3vh
    margin-left: 1.5vh
    font-size: 1.2vh
    display: block
    float: left
    text-align: center
    text-decoration: underline
    cursor: pointer
    border-radius: 4px
    &.button_btn
      border: 0.1vh solid #409EFF
      font-weight: bold
      color: #409EFF
.container>>> .el-select
  width: 70%
  display: inline-block
  position: relative
.container>>>.el-select>.el-input
  width: 100%
  line-height: 3.5vh
  display: inline-block
.container>>> .el-input__inner
  width: 100% !important
  font-size: 1.6vh
  height: 3.5vh !important
  padding-left: 3.5vh !important
  padding-right: 10px
  border-radius: 0
// 日期
.container>>> .el-date-editor.el-input
  width: 70%
  font-size: 1.4vh
.container>>> .el-input__icon
  height: auto
  line-height: 3.5vh

// 表格
.order_table
  width: 99%
  margin: 5px auto 0
  max-height: 550px
  overflow: hidden
  .el-button
    padding: 0.4vh 2vh
    margin-top: 0.4vh
    color: #409eff
    font-size: 1.6vh
    &.btn
      color: #d2d2d2


// 表格切换
// .changeTable
//   margin-bottom: 5px
//   .changeTable_btn
//     padding: 0 2vh
//     height: 3.5vh
//     line-height: 3.5vh
//     color: #409eff
//     border: 0.1vh solid #409eff
//     background: #ffffff
//     margin-top: 1.3vh
//     margin-left: 1.5vh
//     font-size: 1.2vh
//     display: block
//     float: left
//     text-align: center
//     text-decoration: underline
//     cursor: pointer
//     border-radius: 4px

.container>>> .el-table
  // max-height: 276px;
  overflow: auto;

// 改变saveList中的input样式
.changeInput 
  background: transparent
  border: none
  width: 100%
  height 4vh
  line-height: 4vh
  text-align: center

// save弹窗底部ul样式
.footerUL
  margin-bottom: 14px
  li
    color: #333333
    font-weight: bold
    margin-right: 20px
    input
      width: 80px
      margin-left: 10px

.container>>>th, .order_table>>>.el-table td, .el-table th
  padding: 0
.container>>>.info_form ul li, .container>>>.el-table .cell
  height: 3.6vh
  line-height: 3.6vh
  text-align: center
  font-size: 1.6vh
.container>>>.el-table__empty-block
  min-height: 3.5vh

// 修改表格边框和表头背景色
.container>>>.el-table th
    background-color: #2d8cf0
    color: #FFF
.container>>>.el-table tr
    background-color: #f1f1f1
.container>>>.el-table, .container>>>tr, .container>>>td, .container>>>.el-table th
    border : 0.5px solid #ccc
.container>>>.el-table th
    border-left: 0
.container>>>.el-table th
    &:last-child
        border-right: 0
    &:first-child
        border-left: 1px solid #ccc

// 底部页码
.pageBox .el-pagination
  width: 40%