// 查询内容
.queryInfo
  padding: 0 2vh
  height: 3.5vh
  line-height: 3.5vh
  border: 0.1vh solid #d9d9d9
  background: #ffffff
  margin: 0.3vh 0.3vh
  font-size: 1.4vh
  display: block
  float: left
  cursor: pointer
  border-radius: 4px