.set_info
    width: 87vw
    left: 0
    .firstForm
        ul
            li
          
                &.gui
                    width: 33% !important
                    label 
                        width 20% !important
                    input 
                        width 60% !important
                        &.guiNum
                            width: 20% !important
                        &.guiName
                            width: 50% !important
                    button 
                        padding: 0 1vh
                        height: 3.5vh;
                        border: 0.1vh solid #d2d2d2;
                        background: none;
                        line-height: 3.5vh;
                        text-align: center;
                        border-radius: 0.5vh;
                        cursor: pointer;
                        float left   
                &.textarea
                    width: 33%
                    height 6vh
                    label 
                        width: 20%
                    .el-textarea
                        width: 80% 
                        height auto
                        textarea
                           height 10vh !important
                &.explain
                    width: 60%
                    label 
                        width: 16.5%
                    input 
                        width: 80%
            .save
                margin 2vh !important
                width: auto !important
                padding: 0 1vh !important     


.order_table
    width 86.5vw
    margin-top 2vh
    height 51.5vh
    overflow hidden
    .el-button
        padding .5vh 1vh
        margin-top 0.4vh
        border 0.1vh solid #d2d2d2
        &.btn
            border 0.1vh solid #409eff
            color #409eff                
.btn-box
    min-width 800px
.button_btn 
    border: 0.1vh solid #409eff !important;
    font-weight: bold;
    color: #409eff;
               