.set_box
    height 100vh    
    .menu_box
        width 15%
    .set_info
        width 85%
        overflow hidden
        .btn-box   
            min-width 1000px 
        .firstForm
            width: 99.5%
            min-width 800px
            margin-right: 1vh
            ul
                li
                    width 40%
                    &.gui
                        width 100%  
                        label
                            width 16%
                        input 
                            width: 20%
                            &.gui_num
                                width: 6%
                .save
                    padding: 0 2vh
                    height: 3.5vh;
                    border: 0.1vh solid #d2d2d2;
                    background: none;
                    line-height: 3.5vh;
                    text-align: center;
                    border-radius: 0.5vh;
                    cursor: pointer; 
                    margin 1vh     
                .btn
                    border: 0.1vh solid #409eff !important
                    font-weight: bold;
                    color: #409eff;       
        .secondForm
            height 46.5vh 
            width: 99.5%                    